<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="rockBean"
          class="Spring.BeanLifeCycle.RockMusic"
            scope="prototype"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="rapBean"
          class="Spring.BeanLifeCycle.RapMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="classicalBean"
          class="Spring.BeanLifeCycle.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          factory-method="getObjectClassicalMusic">
    </bean>

    <bean id="musicPlayerBeanLifeCycle"
          class="Spring.BeanLifeCycle.MusicPlayer"
          scope="prototype">
        <property name="music" ref="classicalBean"/>
    </bean>

</beans>